header{
font-family: "Gilroy", sans-serif  ;
font-family: Gilroy-Bold;
font-size: 18px;


}

.items{
display: flex;
justify-content: space-between;
border-bottom: 1px solid #828282;
padding-bottom: 34px;
padding-top: 34px;
}
.Home{
color: black;
}
.Aboutme{
  color: #828282;
}
.Skills{
  color: #828282;
}
.Portfolio{
  color: #828282;
}
.Contacts{
  color: #828282;
}