.section4{
  font-family: "Gilroy", sans-serif  ;
  display: flex;
  flex-wrap: wrap;
 justify-content: space-around;
padding-bottom:  100px;
 background: #F6F6F6;
 text-align: center;
}
H4{
  font-family: "Gilroy-Bold";
  font-size: 34px;
  margin-bottom: 50px;
}
p4{
  padding-top: 10px;
}