.start {
  font-family: "Gilroy-Medium";
  font-family: "Gilroy-Bold";
  display: flex;
  flex-direction: column;
  margin-bottom: 105px;
}

.cap {
  font-family: "Gilroy-Medium";
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 18px;
  margin-bottom: 50px;
  margin-top: 40px;
}
.cap__title {
  font-family: "Gilroy-Bold";
  display: flex;
  justify-content: flex-start;
  max-width: 125px;
  font-size: 48px;
  line-height: 59px;
}
.cap__text {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
@media (max-width: 650px) {
  .start {
    margin: 20px;
  }
  .cap__text {
    align-items: flex-start;
    flex-direction: column;
  }
  .cap__title {
    margin-bottom: 24px;
  }
}
