.portfolio {
  padding: 113px 0 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 100px;
  background: #f6f6f6;
  text-align: center;
}
.portfolio__title {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  margin-bottom: 50px;
}
.portfolio__text {
  text-decoration: underline;
}

.examples_box {
  margin-bottom: 99px;
}

.examples_box:nth-child(3) {
  margin-bottom: 0;
}
.portfolio__img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 650px) {
  .portfolio {
    padding-left: 29px;
    padding-right: 30px;
  }
  .portfolio__img {
    width: 100%;
  }
  .portfolio__img{
    padding-bottom: 35px;
  }
}
