
.section1{
font-family: Gilroy-Bold;
display: flex;
 flex-direction: column;
 margin-bottom: 50px;

}
H1{
  display: flex;
  justify-content: flex-start;

}

.text{
    display: flex;
    justify-content: flex-end;

}
.image{
  display: flex;
    align-items: flex-end;

}
