.skills {
  font-family: "Gilroy", sans-serif;
  font-family: "Gilroy-Bold";
  font-family: "Gilroy-Medium";
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.skills__title {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  text-align: center;
  color: black;
  margin-bottom: 50px;
}
.skills__text {
  font-family: "Gilroy-Medium";
  text-align: center;
  color: black;
  font-size: 18px;
  margin-bottom: 70px;
}

.podsection {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 84px;
  font-size: 14px;
  color: #828282;
}
.podsection__item{
   text-align: center;
}

.podsection__star {
  padding-top: 15px;
}
.item__text {
  margin-bottom: 40px;
  margin-top: 25px;
}
@media (max-width: 1024px) {
  .skills {
    padding: 83px 0 98px;

  }
  .about__title {
    margin-bottom: 50px;
  }
  .item__text {
    margin-bottom: 70px;
  }
  .podsection {
    max-width: 75%;
    margin: 0 auto;
  }
  
  }

@media (max-width: 850px) {
  .skills{
    max-width: 75%;
    margin: 0 auto;
  }
  .podsection {
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
  }
  
  .podsection__item{
     margin-bottom: 100px;

  }

  .podsection:last-child{
    margin: 0;
  }
}
