.section3{
font-family: "Gilroy", sans-serif  ;
font-family: "Gilroy-Bold";
font-family: "Gilroy-Medium";
 display: flex;
 flex-direction: column;
 margin-bottom: 100px;


}
h3{
  font-family: "Gilroy-Bold";
  font-size: 22px;
  text-align: center;
  color: black;
  margin-bottom: 50px;

}
p3{
  font-family: "Gilroy-Medium";
  text-align: center;
  color: black;
  margin-bottom: 50px;
}


.podsection3{
display: flex;
justify-content: space-evenly;
margin-bottom: 50px;
}
    

.Ps{
 text-align: center;
 
}
.Ai{
  text-align: center;
}
.Ae{
  text-align: center;
}
.Figma{
  text-align: center;
}

.podsection3-3{
  padding-top: 20px;
}