.section6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 100px;
  background: #f6f6f6;
  text-align: center;
}
p6 {
  font-family: "Gilroy-Medium";
  padding-top: 10px;
}
