.about {
  font-family: "Gilroy", sans-serif;
  font-family: Gilroy-Bold;
  font-family: Gilroy-Medium;
  background-color: #f6f6f6;
  padding-bottom: 100px;
  margin-bottom: 105px;
}
.about__title {
  font-family: Gilroy-Bold;
  display: flex;
  justify-content: center;
  font-size: 34px;
  padding-top: 120px;
  margin-bottom: 18px;
}
.about__text {
  font-family: Gilroy-Medium;
  display: flex;
  flex-flow: column wrap;
  font-size: 18px;
  text-align: center;
  color: black;
}
@media (max-width: 650px){
.about{
    align-items: flex-start;
    flex-direction: column;
}

.about__text{
  margin-bottom: 24px;
}

}